
.sprite {
  background-image: url('../images/sprite.png');
}

.sprite-logo {
  background-position: -0px -0px;
  width: 126px;
  height: 30px;
}
.sprite-logo2x {
  background-position: -0px -30px;
  width: 244px;
  height: 52px;
}
.sprite-logo3x {
  background-position: -0px -82px;
  width: 362px;
  height: 74px;
}
.sprite-m4a {
  background-position: -0px -156px;
  width: 98px;
  height: 110px;
}
.sprite-ai {
  background-position: -0px -266px;
  width: 98px;
  height: 110px;
}
.sprite-aiff {
  background-position: -0px -376px;
  width: 98px;
  height: 110px;
}
.sprite-amr {
  background-position: -0px -486px;
  width: 98px;
  height: 110px;
}
.sprite-ape {
  background-position: -0px -596px;
  width: 98px;
  height: 110px;
}
.sprite-apk {
  background-position: -0px -706px;
  width: 98px;
  height: 110px;
}
.sprite-asf {
  background-position: -0px -816px;
  width: 98px;
  height: 110px;
}
.sprite-asp {
  background-position: -0px -926px;
  width: 98px;
  height: 110px;
}
.sprite-avi {
  background-position: -0px -1036px;
  width: 98px;
  height: 110px;
}
.sprite-bak {
  background-position: -0px -1146px;
  width: 98px;
  height: 110px;
}
.sprite-bat {
  background-position: -0px -1256px;
  width: 98px;
  height: 110px;
}
.sprite-bmp {
  background-position: -0px -1366px;
  width: 98px;
  height: 110px;
}
.sprite-c {
  background-position: -0px -1476px;
  width: 98px;
  height: 110px;
}
.sprite-cab {
  background-position: -0px -1586px;
  width: 98px;
  height: 110px;
}
.sprite-chm {
  background-position: -0px -1696px;
  width: 98px;
  height: 110px;
}
.sprite-dat {
  background-position: -0px -1806px;
  width: 98px;
  height: 110px;
}
.sprite-dmg {
  background-position: -0px -1916px;
  width: 98px;
  height: 110px;
}
.sprite-doc {
  background-position: -0px -2026px;
  width: 98px;
  height: 110px;
}
.sprite-docx {
  background-position: -0px -2136px;
  width: 98px;
  height: 110px;
}
.sprite-dps {
  background-position: -0px -2246px;
  width: 98px;
  height: 110px;
}
.sprite-dr {
  background-position: -0px -2356px;
  width: 98px;
  height: 110px;
}
.sprite-eps {
  background-position: -0px -2466px;
  width: 98px;
  height: 110px;
}
.sprite-et {
  background-position: -0px -2576px;
  width: 98px;
  height: 110px;
}
.sprite-exe {
  background-position: -0px -2686px;
  width: 98px;
  height: 110px;
}
.sprite-f4a {
  background-position: -0px -2796px;
  width: 98px;
  height: 110px;
}
.sprite-xml {
  background-position: -0px -2906px;
  width: 98px;
  height: 110px;
}
.sprite-xmin {
  background-position: -0px -3016px;
  width: 98px;
  height: 110px;
}
.sprite-xmf {
  background-position: -0px -3126px;
  width: 98px;
  height: 110px;
}
.sprite-fla {
  background-position: -0px -3236px;
  width: 98px;
  height: 110px;
}
.sprite-flac {
  background-position: -0px -3346px;
  width: 98px;
  height: 110px;
}
.sprite-flv {
  background-position: -0px -3456px;
  width: 98px;
  height: 110px;
}
.sprite-fon {
  background-position: -0px -3566px;
  width: 98px;
  height: 110px;
}
.sprite-gif {
  background-position: -0px -3676px;
  width: 98px;
  height: 110px;
}
.sprite-hlp {
  background-position: -0px -3786px;
  width: 98px;
  height: 110px;
}
.sprite-htm {
  background-position: -0px -3896px;
  width: 98px;
  height: 110px;
}
.sprite-html {
  background-position: -0px -4006px;
  width: 98px;
  height: 110px;
}
.sprite-ipa {
  background-position: -0px -4116px;
  width: 98px;
  height: 110px;
}
.sprite-iso {
  background-position: -0px -4226px;
  width: 98px;
  height: 110px;
}
.sprite-jar {
  background-position: -0px -4336px;
  width: 98px;
  height: 110px;
}
.sprite-jpeg {
  background-position: -0px -4446px;
  width: 98px;
  height: 110px;
}
.sprite-jpg {
  background-position: -0px -4556px;
  width: 98px;
  height: 110px;
}
.sprite-key {
  background-position: -0px -4666px;
  width: 98px;
  height: 110px;
}
.sprite-keynote {
  background-position: -0px -4776px;
  width: 98px;
  height: 110px;
}
.sprite-link {
  background-position: -0px -4886px;
  width: 98px;
  height: 110px;
}
.sprite-3gp {
  background-position: -0px -4996px;
  width: 98px;
  height: 110px;
}
.sprite-acc {
  background-position: -0px -5106px;
  width: 98px;
  height: 110px;
}
.sprite-ace {
  background-position: -0px -5216px;
  width: 98px;
  height: 110px;
}
.sprite-7z {
  background-position: -0px -5326px;
  width: 98px;
  height: 110px;
}
.sprite-mid {
  background-position: -0px -5436px;
  width: 98px;
  height: 110px;
}
.sprite-midi {
  background-position: -0px -5546px;
  width: 98px;
  height: 110px;
}
.sprite-mkv {
  background-position: -0px -5656px;
  width: 98px;
  height: 110px;
}
.sprite-mod {
  background-position: -0px -5766px;
  width: 98px;
  height: 110px;
}
.sprite-mov {
  background-position: -0px -5876px;
  width: 98px;
  height: 110px;
}
.sprite-mp3 {
  background-position: -0px -5986px;
  width: 98px;
  height: 110px;
}
.sprite-mp4 {
  background-position: -0px -6096px;
  width: 98px;
  height: 110px;
}
.sprite-mpe {
  background-position: -0px -6206px;
  width: 98px;
  height: 110px;
}
.sprite-mpeg {
  background-position: -0px -6316px;
  width: 98px;
  height: 110px;
}
.sprite-mpg {
  background-position: -0px -6426px;
  width: 98px;
  height: 110px;
}
.sprite-msg {
  background-position: -0px -6536px;
  width: 98px;
  height: 110px;
}
.sprite-msi {
  background-position: -0px -6646px;
  width: 98px;
  height: 110px;
}
.sprite-numbers {
  background-position: -0px -6756px;
  width: 98px;
  height: 110px;
}
.sprite-ogg {
  background-position: -0px -6866px;
  width: 98px;
  height: 110px;
}
.sprite-otp {
  background-position: -0px -6976px;
  width: 98px;
  height: 110px;
}
.sprite-pages {
  background-position: -0px -7086px;
  width: 98px;
  height: 110px;
}
.sprite-pdf {
  background-position: -0px -7196px;
  width: 98px;
  height: 110px;
}
.sprite-png {
  background-position: -0px -7306px;
  width: 98px;
  height: 110px;
}
.sprite-ppt {
  background-position: -0px -7416px;
  width: 98px;
  height: 110px;
}
.sprite-pptx {
  background-position: -0px -7526px;
  width: 98px;
  height: 110px;
}
.sprite-psd {
  background-position: -0px -7636px;
  width: 98px;
  height: 110px;
}
.sprite-rar {
  background-position: -0px -7746px;
  width: 98px;
  height: 110px;
}
.sprite-rm {
  background-position: -0px -7856px;
  width: 98px;
  height: 110px;
}
.sprite-rmvb {
  background-position: -0px -7966px;
  width: 98px;
  height: 110px;
}
.sprite-rp {
  background-position: -0px -8076px;
  width: 98px;
  height: 110px;
}
.sprite-rtttl {
  background-position: -0px -8186px;
  width: 98px;
  height: 110px;
}
.sprite-xlsx {
  background-position: -0px -8296px;
  width: 98px;
  height: 110px;
}
.sprite-swf {
  background-position: -0px -8406px;
  width: 98px;
  height: 110px;
}
.sprite-tar {
  background-position: -0px -8516px;
  width: 98px;
  height: 110px;
}
.sprite-tmp {
  background-position: -0px -8626px;
  width: 98px;
  height: 110px;
}
.sprite-ttc {
  background-position: -0px -8736px;
  width: 98px;
  height: 110px;
}
.sprite-ttf {
  background-position: -0px -8846px;
  width: 98px;
  height: 110px;
}
.sprite-txt {
  background-position: -0px -8956px;
  width: 98px;
  height: 110px;
}
.sprite-uue {
  background-position: -0px -9066px;
  width: 98px;
  height: 110px;
}
.sprite-vsd {
  background-position: -0px -9176px;
  width: 98px;
  height: 110px;
}
.sprite-wav {
  background-position: -0px -9286px;
  width: 98px;
  height: 110px;
}
.sprite-wave {
  background-position: -0px -9396px;
  width: 98px;
  height: 110px;
}
.sprite-webm {
  background-position: -0px -9506px;
  width: 98px;
  height: 110px;
}
.sprite-wma {
  background-position: -0px -9616px;
  width: 98px;
  height: 110px;
}
.sprite-wmv {
  background-position: -0px -9726px;
  width: 98px;
  height: 110px;
}
.sprite-wps {
  background-position: -0px -9836px;
  width: 98px;
  height: 110px;
}
.sprite-xls {
  background-position: -0px -9946px;
  width: 98px;
  height: 110px;
}
.sprite-zip {
  background-position: -0px -10056px;
  width: 98px;
  height: 110px;
}
.sprite-fan {
  background-position: -0px -10166px;
  width: 363px;
  height: 131px;
}
.sprite-z {
  background-position: -0px -10297px;
  width: 363px;
  height: 131px;
}
.sprite-fan2x {
  background-position: -0px -10428px;
  width: 718px;
  height: 254px;
}
.sprite-z2x {
  background-position: -0px -10682px;
  width: 718px;
  height: 254px;
}
.sprite-fan3x {
  background-position: -0px -10936px;
  width: 1073px;
  height: 377px;
}
.sprite-z3x {
  background-position: -0px -11313px;
  width: 1073px;
  height: 377px;
}
.sprite-sprite {
  background-position: -0px -11690px;
  width: 370px;
  height: 10174px;
}
